main h1 {
  background-color: #161853;
  color: #faedf0;
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica;
  text-align: center;
  width: 600px;
  margin-top: 10px;
}

main p {
  background-color: #161853;
  color: #faedf0;
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica;
  text-align: center;
  margin-top: -22px;
  width: 600px;
  letter-spacing: 2px;
  font-style: italic;
  font-size: 10px;
  height: 80px;
}
section {
  background-color: #161853;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  text-align: center;
  margin-top: -22px;
  color: #faedf0;
}
